@import url("./constants.css");
@import url("./colors.css");

.deliveryContent {
  composes: baseSection from "./order.module.css";
  padding: var(--spacing) var(--spacing) var(--spacing) var(--spacing);
  margin-bottom: var(--spacing);
}

.subHeader {
  font-weight: bold;
  margin-bottom: var(--xs-spacing);
}

.deliverySection {
  margin-bottom: var(--sm-spacing);
}
